<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/characters/all.css' />
        <script defer src="/javascripts/characters/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2 class="title"><%= title %> </h2>
        <!-- hero cards -->
        <div class="grid-container"> 
            <div class="row">
                <% charArray.forEach(function (c) { %>
                <div class="card img-fluid shadow-lg">
                    <img class="card-image" src=<%= c.image.url %>>
                    <div class="card-body card-img-overlay">
                        <h5>ID# <%= c.id %></h4>
                        <h2><%= c.name %></h2>
                        <h5>Base:
                            <% if (c.work.base !== "null" && (c.work.base.length < 16)) { %>  
                                <%= c.work.base %>
                              <% } else { %>
                                 N/A 
                            <% }%>     
                        </h4>
                        <a class="btn btn-info card-btn" role="button" href="/characters/<%= c.apiId %>">Details</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <!--  -->
    </body>
</html>