<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
      <title>My team</title>
    <link rel='stylesheet' href='/stylesheets/characters/index.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <form class="container" action="/characters" method="GET">
        <div class="search-container">
            <input class="search-bar" type="text" name="characterName" placeholder="Search...">
            <button class="btn glyphicon glyphicon-search align-self-end"></button>&nbsp
        </div>
    </form>
    <% if (characterData) { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <% characterData.forEach(function (c) { %>
                <tbody>
                    <td> <%= c.id  %> </td>
                    <td> <%= c.name  %> </td>
                    <td> <image class="char-image"src=<%= c.image.url  %>> </td>
                    <td> 
                        <% for (let key in c.biography) { %>
                            <%= key %> :
                            <%= c.biography[key] %> 
                            <br>
                        <% } %> 
                    </td>
                    <td> <%= c.appearance.race %> </td>
                    <td> <%= c.connections.relatives  %> </td>
                    <td> 
                        <button class="btn glyphicon glyphicon-plus"></button> 
                    </td>
                </tbody>
            <% }) %>
            
            </table>
    <% } %>
  </body>
</html>