<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
      <title>My team</title>
    <link rel='stylesheet' href='/stylesheets/characters/index.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
</head>
  <body>
    <form class="container" action="/characters" method="GET">
        <div class="search-container">
            <input class="search-bar" type="text" name="characterName" placeholder="Search...">
            <button class="btn glyphicon glyphicon-search align-self-end"></button>&nbsp
        </div>
    </form>
    <% if (characterData) { %>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th> 
                    <th>Name</th>
                    <th>Image</th>
                    <th>Biography</th>
                    <th>Race</th>
                    <th>Relatives</th>
                    
                </tr>
            </thead>
            <% characterData.forEach(function (c) { %>
                <tbody>
                    <td> <%= c.id  %> </td>
                    <td> <%= c.name  %> </td>
                    <td> <image class="char-image"src=<%= c.image.url  %>> </td>
                    <td> 
                        <% for (let key in c.biography) { %>
                            <%= key %> :
                            <%= c.biography[key] %> 
                            <br>
                        <% } %> 
                    </td>
                    <td> 
                        <% if (c.appearance.race !== "null") { %>
                          <%= c.appearance.race %>
                        <% } else { %>
                             N/A 
                        <% } %> 
                    </td>
                    <td> 
                        <% if (c.connections.relatives !== "null") { %>
                            <%= c.connections.relatives %>
                          <% } else { %>
                             N/A 
                        <% }%> 
                    </td>
                    <td> 
                        <a class="btn btn-primary" role="button" href="/characters/<%= c.id %>">Details</a>
                        <button type="button" class="btn btn-primary add-char-btn "> <span class="glyphicon glyphicon-plus"></span> Add to team</button> 
                    </td>
                </tbody>
            <% }) %>
            
            </table>
    <% } %>
  </body>
</html>