<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
      <title>My team</title>
    <link rel='stylesheet' href='/stylesheets/characters/index.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body>
    <h2 class="title"><%= title %> </h2>
    <!-- search bar -->
    <form class="form-container" action="/characters" method="GET">
        <div class="search-container">
            <input class="search-bar" type="text" name="characterName" placeholder="Hero name...">
            <button class="btn glyphicon glyphicon-search align-self-end"></button>&nbsp
        </div>
    </form>
    <!-- my team -->
    <% if (characters.length) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th> 
                        <th>Name</th>
                        <th>Image</th>
                        <th>Gender</th>
                        <th>Race</th>
                        <th>Base</th>
                    </tr>
                </thead>
                <% characters.forEach(function (c) { %>
                    <tbody>
                        <td> <%= c.apiId  %> </td>
                        <td> <%= c.name  %> </td>
                        <td> <image class="char-image"src=<%= c.image %>> </td>
                        <td> 
                            <%= c.gender %>
                        </td>
                        <td> 
                            <% if (c.race !== "null") { %>
                                <%= c.race %>
                              <% } else { %>
                                   N/A 
                              <% } %> 
                        </td>
                        <td> 
                            <% if (c.base !== "null") { %>
                                <%= c.base %>
                              <% } else { %>
                                 N/A 
                            <% }%> 
                        </td>
                        <td> 
                            <a class="btn btn-primary" role="button" href="/characters/<%= c.apiId %>">Details</a>
                        </td>
                    </tbody>
                <% }) %>
                </table>
    <% } %>
    <!-- search results by name-->
    <% if (characterData) { %>
        <h3>Search results:</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th> 
                    <th>Name</th>
                    <th>Image</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Base</th>
                </tr>
            </thead>
            <% characterData.forEach(function (c) { %>
                <tbody>
                    <td> <%= c.id  %> </td>
                    <td> <%= c.name  %> </td>
                    <td> <image class="char-image"src=<%= c.image.url  %>> </td>
                    <td> 
                        <%= c.appearance.gender %>
                    </td>
                    <td> 
                        <% if (c.appearance.race !== "null") { %>
                          <%= c.appearance.race %>
                        <% } else { %>
                             N/A 
                        <% } %> 
                    </td>
                    <td> 
                        <% if (c.work.base !== "null") { %>
                            <%= c.work.base %>
                          <% } else { %>
                             N/A 
                        <% }%> 
                    </td>
                    <td> 
                        <a class="btn btn-primary" role="button" href="/characters/<%= c.id %>">Details</a>
                    </td>
                </tbody>
            <% }) %>
            </table>
    <% } %>
  </body>
</html>