<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/characters/index.css' />
    <script defer src="/javascripts/characters/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <h2 class="title"><%= title %> </h2>
    <!-- search bar -->
    <form class="form-container" action="/characters" method="GET">
        <div class="search-container">
                <input class="search-bar form-control" type="text" name="characterName" placeholder="Hero name...">
            <div>
                <button type="submit" class="btn btn-dark search-btn">Search</button>&nbsp
            </div>
        </div>
    </form>
    <!-- my team cards -->
    <% if (characters.length) { %>
        <% characters.forEach(function (c) { %>
        <div class="card img-fluid">
            <img class="card-image" src=<%= c.image %>>
            <div class="card-body card-img-overlay">
                <h4>ID# <%= c.apiId %></h4>
                <h2><%= c.name %></h2>
                <h4>Base:
                    <% if (c.base !== "null") { %>
                        <%= c.base %>
                      <% } else { %>
                         N/A 
                    <% }%>     
                </h4>
                <a class="btn btn-info" role="button" href="/characters/<%= c.apiId %>">Details</a>
            </div>
        </div>
        <% }) %>
    <% } %>
    <!-- search results by name-->
    <% if (characterData) { %>
        <h3 id="results-heading">Search results:</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th> 
                    <th>Name</th>
                    <th>Image</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Base</th>
                </tr>
            </thead>
            <% characterData.forEach(function (c) { %>
                <tbody>
                    <td> <%= c.id  %> </td>
                    <td> <%= c.name  %> </td>
                    <td> <image class="char-image"src=<%= c.image.url  %>> </td>
                    <td> 
                        <%= c.appearance.gender %>
                    </td>
                    <td> 
                        <% if (c.appearance.race !== "null") { %>
                          <%= c.appearance.race %>
                        <% } else { %>
                             N/A 
                        <% } %> 
                    </td>
                    <td> 
                        <% if (c.work.base !== "null") { %>
                            <%= c.work.base %>
                          <% } else { %>
                             N/A 
                        <% }%> 
                    </td>
                    <td> 
                        <a class="btn btn-info" role="button" href="/characters/<%= c.id %>">Details</a>
                    </td>
                </tbody>
            <% }) %>
            </table>
    <% } %>
  </body>
</html>