<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/characters/show.css' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
  <body>
      <h2 class="title"><%= title %> </h2>
      <% if (characterData) { %>
      <!-- Hero details card -->
        <div class="container mt-3 mb-3">
            <div class="card shadow-lg">
                <div class="card-header">
                    <!-- ID -->
                    <div class="row"> 
                        <div class="col-4 id-num">#<%= characterData.id  %></div>
                        <div class="col"></div>
                    </div>
                    <!-- Name -->
                    <div class="row">
                        <div class="col char-name"><%= characterData.name  %></div>
                    </div>
                    <!-- Image -->
                    <div class="row">
                        <div class="col-4"></div>
                        <image class="char-image col-4" src= <%=characterData.image.url %>> 
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="card-body">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-bs-toggle="tab" href="#profile">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#biography">Biography</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#stats">Stats</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#affiliations">Affiliations</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#work">Work</a>
                      </li>
                    </ul>
                  <!-- tab content -->
                    <!-- Profile -->
                  <div class="tab-content">
                      <div id="profile" class="container tab-pane active">
                          <h3 class="pane-heading">Profile:</h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr >
                                        <td>
                                            Gender:
                                        </td>
                                        <td>
                                            <%= characterData.appearance.gender %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Race:
                                        </td>
                                        <td>
                                            <%= characterData.appearance.race %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Height:
                                        </td>
                                        <td>
                                            <% characterData.appearance.height[0] %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Weight: 
                                        </td>
                                        <td>
                                            <% characterData.appearance.weight[0] %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Eye-color:
                                        </td>
                                        <td>
                                            <% characterData.appearance["eye-color"] %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Hair-color:
                                        </td>
                                        <td>
                                            <% characterData.appearance["hair-color"] %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                      </div>
                        <!-- Biography -->
                        <div id="biography" class="container tab-pane">
                            <h3 class="pane-heading">Biography:</h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr >
                                        <td>
                                            Full-name: 
                                        </td>
                                        <td>
                                            <%= characterData.biography["full-name"] %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Aliases:
                                        </td>
                                        <td>
                                            <%= characterData.biography.aliases %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Birthplace:
                                        </td>
                                        <td>
                                            <%= characterData.biography["place-of-birth"] %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Publisher: 
                                        </td>
                                        <td>
                                            <%= characterData.biography.publisher %>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Alignment:
                                        </td>
                                        <td>
                                            <%= characterData.biography.alignment %>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- Stats -->
                      <div id="stats" class="container tab-pane">
                        <h3 class="pane-heading">Stats:</h3>
                        <table class="table table-hover">
                            <tbody>
                                <% for (let s in characterData.powerstats) { %>
                                <tr >
                                    <td>
                                        <%= s%>: 
                                    </td>
                                    <td>
                                        <%=characterData.powerstats[s] %> 
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                      </div>
                        <!-- Affiliations -->
                        <div id="affiliations" class="container tab-pane fade">
                          <h3 class="pane-heading">Affiliations:</h3>
                          <% if (characterData.connections.relatives !== "null") { %>
                            <%= characterData.connections.relatives %>
                          <% } else { %>
                             N/A 
                             <% }%> 
                        </div>
                        <!-- Work -->
                        <div id="work" class="container tab-pane fade">
                            <h3 class="pane-heading">Work:</h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr >
                                        <td>
                                            Occupation:
                                        </td>
                                        <td>
                                            <% if (characterData.work.occupation !== "null") { %>
                                                <%=characterData.work.occupation %> 
                                            <% } else { %>
                                                N/A 
                                                <% }%> 
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Base:
                                        </td>
                                        <td>
                                            <% if (characterData.work.base !== "null") { %>
                                                <%=characterData.work.base %> 
                                            <% } else { %>
                                                N/A 
                                                <% }%> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                  </div>
                </div>
                <div class="card-footer">
                    <% console.log('user',user); %>
                    <% console.log('characters', characters); %>
                    <!-- if there is an user AND (the character EITHER does not belong to any user's team 
                        OR if current user does not already belong to the character)  -->
                    <% if (user && ((characters === null) || (!characters.users.includes(user._id)))) { %>
                            <form class="row" action="/characters/<%=characterData.id%>" method="POST">
                                <button type="submit" class="btn btn-success add-char-btn col-4" > <span class="glyphicon glyphicon-plus"></span> Add to team</button> 
                                <div class="col"></div>
                            </form>
                    <% } %>
                    
                       <!-- if there is an user AND the character is on at least one user's team
                        AND if current user does belong to the character  -->
                    <% if (user && characters !== null) { %>
                        <% if (characters.users.includes(user._id)) { %>
                            <form class="row" action="/characters/<%=characterData.id%>?_method=DELETE" method="POST">
                                <div class="col"></div>
                                <button type="submit" class="btn btn-danger del-char-btn col-4"><span class="glyphicon glyphicon-minus"></span> Remove from team</button>
                            </form>
                        <% } %>
                    <% } %>    
                </div>
            </div>
        </div>
    <% } %>
        
        <!-- Review form -->
        <!-- if character is in team -->
        <% if (characters !== null) { %>
            <div class="review-form-container">
                <form method="POST" action="/characters/<%= characterData.id%>/reviews"> 
                    <div class="form-group" >
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="form-floating col">
                                <textarea class="form-control commentTextarea" rows="3" id="comment" name="content" placeholder="Add a comment..."></textarea>
                                <label class="tempText">Enter comments here...</label>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row ratingContainer">
                            <div class="col-3"></div>
                            <div class="col">
                                <label>Rating:</label>
                            </div>
                            <div class="form-check col">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="1" >1
                                <label class="form-check-label" for="radio1"></label>
                              </div>
                              <div class="form-check col">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="2">2
                                <label class="form-check-label" for="radio2"></label>
                              </div>
                              <div class="form-check col">
                                <input type="radio" class="form-check-input" name="optradio" value="3">3
                                <label class="form-check-label"></label>
                              </div>
                              <div class="form-check col">
                                <input type="radio" class="form-check-input" name="optradio" value="4">4
                                <label class="form-check-label"></label>
                              </div>
                              <div class="form-check col">
                                <input type="radio" class="form-check-input" name="optradio" value="5" checked>5
                                <label class="form-check-label"></label>
                              </div>
                              <div class="col-3"></div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <button type="reset" class="cancelReviewBtn col-2">Cancel</button>
                            <button type="submit" class="col-2 add-review-btn">Add review</button>
                            <div class="col"></div>
                        </div>
                    </div>
                </form>
            </div>
        <% } %>
        <!-- show reviews -->
        <!-- if character is in team and there are reviews -->
        <% if (characters !== null && characters.reviews.length) { %>
            <h4 class="review-heading"> Reviews:</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <% let total = 0 %>
                <% characters.reviews.forEach(function (r) { %>
                    <% total += r.rating %>
                <tbody>
                    <td>
                        <img class="user-image" src="<%= r.userAvatar %>">
                        <div><%= r.userName %></div>
                    </td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.content %> </td>
                    <td><%= r.rating %> </td>
                    <td >
                        <table class="table">
                            <tr>
                                <% if (user && user._id.equals(r.user)) { %>
                                <a class="btn btn-primary editBtn" href="/reviews/<%= r._id%>/edit">Edit</a>
                            </tr>
                            <tr>
                                <form action="/reviews/<%=r._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger deleteBtn" type="submit"><span class="bi-x-lg"></span></button>
                                </form>
                                <% } %>
                            </tr>
                        </table>
                    </td>
                <% }) %>
                    <tr>
                        <td colspan="3"></td>
                        <td><strong>Average: <%= (total / characters.reviews.length).toFixed(1) %></strong></td>
                      </tr>
                </tbody>
                
            </table>

        <% } else { %>
            <span class="no-review">No reviews yet</span>   
        <% } %>

  </body>
</html>