<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
      <title>Hero details</title>
    <link rel='stylesheet' href='/stylesheets/characters/show.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body>
      <h2 class="title"><%= title %> </h2>
      <div class= "hero-card">
    <% if (characterData) { %>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th> 
                    <th>Name</th>
                    <th>Image</th>
                    <th>Biography</th>
                    <th>Race</th>
                    <th>Relatives</th>
                </tr>
            </thead>

                <tbody>
                    <td> <%= characterData.id  %> </td>
                    <td> <%= characterData.name  %> </td>
                    <td>
                        <image class="char-image" src= <%=characterData.image.url %>> 
                    </td>
                    <td> 
                        <% for (let key in characterData.biography) { %>
                            <%= key %> :
                            <%= characterData.biography[key] %> 
                            <br>
                        <% } %> 
                    </td>
                    <td> 
                        <% if (characterData.appearance.race !== "null") { %>
                          <%= characterData.appearance.race %>
                        <% } else { %>
                             N/A 
                        <% } %> 
                    </td>
                    <td> 
                        <% if (characterData.connections.relatives !== "null") { %>
                            <%= characterData.connections.relatives %>
                          <% } else { %>
                             N/A 
                        <% }%> 
                    </td>
                    <% console.log(characters) %>
                    <!-- if (user is logged in and character not already in 'my team' list) -->
                        <td> 
                            <form action="/characters/<%=characterData.id%>" method="POST">
                                <button type="submit" class="btn btn-primary add-char-btn" > <span class="glyphicon glyphicon-plus"></span> Add to team</button> 
                            </form>
                        </td>
                
                    
                </tbody>
            </table>
    <% } %>
        </div>
  </body>
</html>