<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
      <title>Hero details</title>
    <link rel='stylesheet' href='/stylesheets/characters/show.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body>
      <h2 class="title"><%= title %> </h2>
      <div class= "hero-card">
    <% if (characterData) { %>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th> 
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Race</th>
                    <th>Relatives</th>
                </tr>
            </thead>

                <tbody>
                    <td> <%= characterData.id  %> </td>
                    <td> <%= characterData.name  %> </td>
                    <td>
                        <image class="char-image" src= <%=characterData.image.url %>> 
                    </td>
                    <td> 
                        Full-name: <%= characterData.biography["full-name"] %><br><br>
                        Aliases: <%= characterData.biography.aliases %><br><br>
                        Birthplace: <%= characterData.biography["place-of-birth"] %><br><br>
                        Publisher: <%= characterData.biography.publisher %><br><br>
                        Alignment: <%= characterData.biography.alignment %><br><br>
                    </td>
                    <td> 
                        <% if (characterData.appearance.race !== "null") { %>
                          <%= characterData.appearance.race %>
                        <% } else { %>
                             N/A 
                        <% } %> 
                    </td>
                    <td> 
                        <% if (characterData.connections.relatives !== "null") { %>
                            <%= characterData.connections.relatives %>
                          <% } else { %>
                             N/A 
                        <% }%> 
                    </td>
                    <!-- if (user is logged in and character NOT already in 'my team' list) -->
                       
                            <td> 
                                <form action="/characters/<%=characterData.id%>" method="POST">
                                    <button type="submit" class="btn btn-success add-char-btn" > <span class="glyphicon glyphicon-plus"></span> Add to team</button> 
                                </form>
                                <!-- if user is logged in and character is already in 'my team' list -->
                                <form action="/characters/<%=characterData.id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger del-char-btn"><span class="glyphicon glyphicon-minus"></span> Remove from team</button>
                                </form>
                            </td>

                     
                </tbody>
            </table>
    <% } %>
        </div>
        <!-- Review form -->
        <!-- if character is in team -->
        <% if (characters !== null) { %>
            <div>
                <form method="POST" action="/characters/<%= characterData.id%>/reviews"> 
                    <div class="form-group" >
                        <label for="comment">Review:</label>
                        <textarea class="form-control" row="3" id="comment" name="content" placeholder="Add a comment..."></textarea>
                        <label>Rating:</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="1">1</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="2">2</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="3">3</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="4">4</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="5" selected>5</label>
                        <div>
                            <button>Cancel</button>
                            <button type="submit">Add review</button>
                        </div>
                    </div>
                </form>
            </div>
        <% } %>
        <!-- show reviews -->
        <!-- if character is in team and there are reviews -->
        <% if (characters !== null && characters.reviews.length) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <% let total = 0 %>
                <% characters.reviews.forEach(function (r) { %>
                    <% total += r.rating %>
                <tbody>
                    <td>
                        <img class="user-image" src="<%= r.userAvatar %>">
                        <div><%= r.userName %></div>
                    </td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.content %> </td>
                    <td><%= r.rating %> </td>
                    <% if (user && user._id.equals(r.user)) { %>
                    <td>
                        <a href="/reviews/<%= r._id%>/edit">Edit</a>
                        <form action="/reviews/<%=r._id%>?_method=DELETE" method="POST">
                            <button type="submit"><span class="glyphicon glyphicon-remove"></span></button>
                        </form>
                    </td>
                    <% } %>
                <% }) %>
                    <tr>
                        <td colspan="3"></td>
                        <td><strong>Average: <%= (total / characters.reviews.length).toFixed(1) %></strong></td>
                      </tr>
                </tbody>
                
            </table>

        <% } else { %>
            <span>No reviews yet</span>   
        <% } %>

  </body>
</html>